@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand-background:	hsl(35, 100%, 98%);
        --brand-foreground:	hsl(188, 100%, 5%);
    }
}


@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    html, body {
        @apply font-sans antialiased scroll-smooth;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            Fira Sans,
            Droid Sans,
            Helvetica Neue,
            sans-serif;
    }
    html {
        @apply scroll-smooth text-lg bg-brand-background;
    }
    body {
        @apply bg-brand-background text-brand-foreground;
    }
}