{
    "tabWidth": 4,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "semi": false,

    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^@/(.*)$",
        "^@src/(.*)$",
        "^@sanity/(.*)$",
        "^@components/(.*)$",
        "^@utils/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "importOrderByLength": true
}
