@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
      --radius: 0.75rem;
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9;
    }
  }
  

  @layer base {
    :root {
      /* Aesops Brand Colors */
      --brand-background: 35, 100%, 98%;
      --brand-foreground: 210 20% 98%;
    }

    #app {
        @apply h-screen min-h-[100dvh] overscroll-none overflow-auto antialiased;
    }
  }
  

  
  @layer base {
    * {
      @apply border-border;
    }
    html {
        @apply scroll-smooth text-base bg-gradient-to-b from-aes-light to-aes-primary;
    }
    body {
      @apply bg-brand-background text-foreground;
    }
  }

// Global styles
@layer {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #718096;
        }
    }
    body {
        @apply bg-aes-light p-0 m-0 scroll-smooth;
    }

    html {
        @apply scroll-smooth text-base;
    }
    html,
    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}





// scss variables
// color variables
$primary-color: #6f0dcc;
$secondary-color: #de8e68;
$dark-primary: #5702a7;
$accent-color: #c9870d;
$white-color: #ffffff;
$grey-color: #faf7fa;
$danger-color: #b60c53;
$dark-color: #000411;
$success: #12c397;
$dark-grey: #444;
$orange: #f8910b;
$orange2: #f5a339;

// Scss keyframes
@keyframes linkAnimation {
    0% {
        background: $white-color;
        background-position: left center;
        color: $primary-color;
    }
    50% {
        background: lighten($primary-color, 45%);
        background-position: left center;
        color: $white-color;
    }
    100% {
        background: $white-color;
        background-position: left center;
        color: $primary-color;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

// pulse
@keyframes pulse {
    0% {
        background: #eee;
    }
    30% {
        background: darken(#eee, 5%);
    }

    70% {
        background: darken(#eee, 10%);
    }

    100% {
        background: darken(#eee, 15%);
    }
}

// spin
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// bounce
@keyframes bounce {
    0% {
        transform: translateY(-30px);
    }

    25% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateY(25px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-20px);
    }
}

// Scss mixins
/* * flex center mixin */
@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// display flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// display grid
@mixin Grid($gap: 1rem, $num_rows: 3) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($num_rows, 1fr);
}

// translate transform
@mixin transLate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Styles starts here

.progress-bar {
    z-index: 50;
}

// paragram styles
.paragraph {
    img {
        object-fit: contain;
        width: auto;
        height: auto;
        border-radius: 10px;
    }

    ul,
    ol {
        margin-left: 2rem;
    }

    a {
        font-style: italic;
        color: darken($primary-color, 15%);

        &:hover {
            background: lighten($primary-color, 50%);
        }
    }

    @media (prefers-color-scheme: dark) {
        a {
            color: lighten($primary-color, 30%);
            &:hover {
                background: darken($primary-color, 15%);
            }
        }
    }

    blockquote {
        font-style: italic;
        border-left: 5px solid #2d3748bb;
        padding: 0 10px;
    }

    // table styles
    table {
        max-width: min-content;
    }

    tr {
        border-top: 1px solid #c6cbd1;
        background: #fff;
    }

    th,
    td {
        font-size: 1rem;
        padding: 6px;
        border: 1px solid #dfe2e5;

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }
    }

    table tr:nth-child(2n) {
        background: #f6f8fa;
    }

    code {
        border-radius: 5px;
    }
    pre {
        border-radius: 5px;
    }
}

.glass-effect {
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}
.glass-effect-dark {
    background: rgba(48, 62, 75, 0.555);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}
